.header {
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    width: 100%;
}

.header__top {
    background-color: var(--blue);

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__top-left {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header__top-col {
    &+.header__top-col {
        margin-left: 49px;
    }

    display: flex;
    align-items: center;

    a {
        color: #FFF;
        font-size: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        transition: .3s;

        &:hover {
            color: var(--gold);
        }
    }

    li {
        display: flex;
        align-items: center;
    }

    img {
        margin: 0 10px 0 0;
    }

    &:nth-child(2) {
        img {
            margin: 0 0 0 10px;
        }
    }
}

.header__top-cocials {
    display: flex;
    align-items: center;

    a {
        display: block;
        width: 25px;
        height: 25px;
        background-size: cover;
        transition: .3s;

        &:hover {
            filter: brightness(80%);
        }
    }

    img {
        width: 100%;
        background-size: cover;
    }

    li+li {
        margin-left: 20px;
    }
}

.header__bottom {
    background-color: #fff;
}

.header__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
}

.header__bottom-logo {
    a {
        display: block;
        width: 196px;
    }

    img {
        width: 100%;
        background-size: cover;
    }
}

.burger-btn {
    display: none;
}

.header__bottom-menu {
    display: flex;
    align-items: center;

    ul {
        margin-right: 80px;
        display: flex;

        a {
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            transition: .3s;
            position: relative;
            padding-bottom: 2px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: var(--gold);
                transition: .3s;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }

        li {
            margin-right: 70px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// --------------- RESPONSIVE ------------- //
@media(max-width: 1199.8px) {
    .header__bottom-menu ul {
        margin-right: 45px;
    }

    .header__bottom-menu ul li {
        margin-right: 45px;
    }

    .header__bottom-btn a {
        padding: 11px 30px;
    }

    .header__bottom-logo a {
        width: 170px;
    }
}

@media(max-width: 991.8px) {
    .header__bottom-inner {
        padding: 18px 0;
    }

    .header__bottom-menu {
        position: fixed;
        top: 130px;
        right: 0;
        width: 50%;
        transform: translateX(100%);
        height: calc(100vh - 130px);
        transition: .5s;
        background-color: rgba(#fbfbfb, .98);
        padding: 40px 70px;
        flex-direction: column;
        align-items: flex-start;

        ul {
            width: 100%;
            flex-wrap: wrap;
            margin: 0 0 50px;

            li {
                width: 100%;
                margin: 0 0 30px;
            }
        }

        &.active {
            transform: translateX(0%);
        }
    }

    .burger-btn {
        background: transparent;
        position: relative;
        z-index: 9;
        top: 40%;
        right: 0;
        display: block;
        height: 25px;
        width: 40px;

        &:before,
        &:after {
            background: var(--blue);
            backface-visibility: hidden;
            content: "";
            height: 3px;
            border-radius: 5px;
            left: 0;
            transition: 0.75s;
            width: 40px;
        }

        &:before {
            box-shadow: var(--blue) 0 11px 0 0;
            position: absolute;
            top: 0;
        }

        &:after {
            position: absolute;
            top: calc(100% - 2px);
        }

        &.active {

            &:before {
                box-shadow: transparent 0 0 0 0;
                top: 50%;
                transform: rotate(225deg);
            }

            &:after {
                top: 50%;
                transform: rotate(315deg);
            }
        }
    }
}

@media(max-width: 767.8px) {
    .header__bottom-menu {
        width: 100%;
        top: 150px;
    }

    .header__top-left {
        flex-wrap: wrap;
    }

    .header__top-col+.header__top-col {
        margin-left: 0px;
    }

    .header__top-col:nth-child(2) img {
        margin: 0 10px 0 0;
        order: 1;
    }

    .header__top-emails {
        order: 2;
    }

    .header__bottom-logo a {
        width: 150px;
    }

    .header__top-col {
        width: 100%;
    }
}

@media(max-width: 575.8px) {
    .header__bottom-menu {
        padding: 40px 50px;
    }

    .burger-btn {
        width: 30px;
    }

    .burger-btn:after,
    .burger-btn:before {
        width: 30px;
    }
    .burger-btn:after {
        top: calc(100% - 5px);
    }
    .burger-btn:before {
        box-shadow: var(--blue) 0 10px 0 0;
        position: absolute;
        top: 0;
    }

    .header__bottom-btn {
        width: 100%;
    }

    .header__top-cocials li+li {
        margin-left: 10px;
    }

    .header__top-col a {
        font-size: 11px;
    }

    .header__top-col:nth-child(2) img {
        margin: 0 5px 0 0;
    }

    .header__top-col img {
        margin: 0px 5px 0 0;
    }

    .header__top-cocials a {
        width: 22px;
        height: 22px;
    }
}

@media(max-width: 375px) {
    .header__top-col a {
        font-size: 10px;
    }

    .header__top-cocials li+li {
        margin-left: 5px;
    }
}